@import "tailwindcss";
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slides{
    display:flex;
    width:100%;
    height:100%;
    transition:transform 0.5s ease;
}